.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  height: 341px;
  margin-top: 20px;
  padding: 44px 51px 44px 54px;

  border-radius: 15px;
  background-color: #333333;

  background-image: url("/img/footer/sun.svg");
  background-repeat: no-repeat;
  background-size: 21.7%;
  background-position: 740px 113px;
}

.footer__left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 320px;

  color: #fff;
  font-family: 'MullerLight';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  margin-right: 12%;
  transform: translate(4px, -7px);

  color: #fff;
  font-family: 'MullerLight';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.footer__social-list {
  margin: 0;
}

.footer__tel-links {
  display: flex;
  flex-direction: column;

  font-family: 'MullerLight';
  font-style: normal;
  font-size: 16px;
  /* line-height: 28px; */
  color: #CC9933;
}

.footer__mail-links {
  display: flex;
  flex-direction: column;
  padding-top: 1px;

  font-family: 'MullerLight';
  font-style: normal;
  font-size: 16px;
  color: #CC9933;
}

.footer__adress-text {
  font-family: 'MullerLight';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;

  padding-bottom: 5px;
}

.footer__terms-use-text {
  font-family: 'MullerLight';
  font-style: normal;
  font-size: 16px;
  color: #CC9933;
}

.footer__terms-use-text:hover {
  text-decoration: underline;
}

.footer__social-item {
  list-style-type: none;
}

.footer__social-item {
  display: block;
  border-radius: 50%;

  height: 25px;
  width: 25px;
  margin-bottom: 20px;
}

.footer__social-twitter {
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 50%;
}

.footer__social-facebook {
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 50%;
}

.footer__social-vkontakte {
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 50%;
}

.footer__social-instagram {
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 50%;
}

.footer__icon-path {
  fill: #999999;
}

.footer__social-link:hover path {
  fill: #fff;
}
