.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.about__heading {
  margin-bottom: 0;
}

.about__items {
  margin-top: 11px;
  margin-right: 24%;
}

.about__text {
  margin: 0;

  font-family: 'Muller';
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
