@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerLight.woff2') format('woff2'),
    url('/fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerRegular.woff2') format('woff2'),
    url('/fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerMedium.woff2') format('woff2'),
    url('/fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerBold.woff2') format('woff2'),
    url('/fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: sans-serif;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 2px solid #338cccc6;
}

.section-heading {
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 19px;

  font-family: 'Muller';
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.item__gold-text {
  display: flex;
  margin: 0;

  font-family: 'Muller';
  font-weight: 400;
  text-align: left;
  color: #FFCC66;
}

.item__gold-icon {
  border-top: 2px solid #FFCC66;
  border-right: 2px solid #FFCC66;
  transform: rotate(45deg);
}

.main__button {
  position: relative;
  border: 1px solid #CC9933;
  border-radius: 10px;

  font-family: 'Muller';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #CC9933;
  overflow: hidden;
}

.main__button::before,
.main__button::after {
  left: 0;
  right: 0;
  content: "";
  display: inline;
  position: absolute;
  transition: 80ms;
  background: #cc9933;
}

.main__button:hover::before,
.main__button:hover::after {
  transform: none;
  transition: 80ms ease-in-out;
}

.main__button:hover {
  transition: 150ms;
  color: #fff;
  background: #CC9933;
  border: 1px solid transparent;
}

.main__button::before {
  border-radius: 10px 10px 0px 0px;
  top: 0;
  bottom: 50%;
  transform: translateY(-100%);
}

.main__button::after {
  border-radius: 0px 0px 10px 10px;
  top: 50%;
  bottom: 0;
  transform: translateY(100%);
}

.button-link-text {
  z-index: 1;
}
